.hero-banner {
    background: url('../images/banner.png') center/cover no-repeat;
    padding: 140px 0;
    color: white;
    text-align: center;
}

.hero-banner h1,
.hero-banner p,
.hero-banner .btn-primary {
    position: relative;
    z-index: 1;
    text-shadow: 0 2px 6px rgba(0, 0, 0, 0.6);
    color: var(--green-light);
    /* nằm trên overlay */
}

.btn-primary {
    background-color: var(--green-dark);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.6);
}

.btn-primary:hover {
    background-color: var(--blue-main);
}

.hero-banner h1 {
    font-size: 40px;
    font-weight: 700;
}

.hero-banner p {
    font-size: 18px;
    margin: 15px 0 25px;
}

.search-section {
    margin-top: -40px;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.search-box {
    display: flex;
    gap: 10px;
}

.search-box input,
.search-box select {
    flex: 1;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

.btn-search {
    padding: 12px 20px;
    background: var(--green-main);
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.btn-search:hover {
    background: var(--green-dark);
}

.services h2,
.doctors h2,
.why h2 {
    text-align: center;
    margin: 40px 0 20px;
    color: var(--green-dark);
}

.service-grid {
    grid-template-columns: repeat(4, 1fr);
}

.service-card {
    background: white;
    padding: 20px;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.07);
    transition: 0.2s;
}

.service-card img {
    width: 60px;
    margin-bottom: 10px;
}

.service-card:hover {
    transform: translateY(-5px);
}

.doctor-list {
    grid-template-columns: repeat(4, 1fr);
}

.doctor-card {
    background: white;
    padding: 16px;
    text-align: center;
    border-radius: 12px;
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.08);
    transition: 0.2s;
}

.doctor-card img {
    width: 100%;
    border-radius: 12px;
    margin-bottom: 10px;
}

.doctor-card:hover {
    transform: translateY(-5px);
}

.why-grid {
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 40px;
}

.why-item {
    background: var(--green-light);
    padding: 20px;
    border-radius: 12px;
    text-align: center;
    border: 3px solid var(--green-main);
    box-shadow: 0 4px 10px rgba(11, 66, 32, 0.12);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.why-item:hover {
    transform: translateY(-5px) scale(1.05);
    box-shadow: 0 10px 25px rgba(11, 66, 32, 0.18);
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: #0D47A1;
}