/* ================= IMPORT RESPONSIVE ================= */

@import url('responsive.css');

/* ================= BODY BACKGROUND ================= */


/* bỏ flex ở body */

body {
    background: linear-gradient(rgba(46, 204, 113, 0.7), rgba(46, 10, 113, 0.7)), url('../images/banner.png') no-repeat center center;
    background-size: cover;
    min-height: 100vh;
}

.auth-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 20px;
    width: 100%;
}

.auth-card {
    background: #fff;
    width: 100%;
    max-width: 480px;
    padding: 40px;
    border-radius: 14px;
    border: 1px solid #dce6f9;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.06);
}

.auth-title {
    text-align: center;
    color: var(--blue-dark);
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 18px;
}

.auth-sub {
    text-align: center;
    color: #556b8e;
    margin-bottom: 25px;
    font-size: 14px;
}

.auth-card label {
    display: block;
    margin-bottom: 6px;
    font-size: 15px;
    font-weight: 600;
    color: var(--blue-main);
}

.auth-card input {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #c8d8f0;
    margin-bottom: 18px;
    font-size: 15px;
    outline: none;
    transition: 0.2s;
}

.auth-card input:focus {
    border-color: var(--blue-dark);
}

.btn-auth {
    width: 100%;
    background: var(--blue-main);
    padding: 13px 0;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: 0.2s;
}

.btn-auth:hover {
    background: var(--green-dark);
}

.auth-switch {
    text-align: center;
    margin-top: 15px;
    font-size: 15px;
}

.auth-switch a {
    color: var(--blue-main);
    font-weight: bold;
    text-decoration: none;
}

.auth-switch a:hover {
    text-decoration: underline;
    color: var(--green-dark);
}


/* ================= RESPONSIVE ================= */

@media screen and (max-width: 768px) {
    .auth-card {
        padding: 30px;
    }
    .auth-title {
        font-size: 22px;
    }
    .btn-auth {
        font-size: 15px;
    }
}

@media screen and (max-width: 480px) {
    .auth-card {
        padding: 20px;
    }
    .auth-title {
        font-size: 20px;
    }
    .auth-sub {
        font-size: 13px;
    }
}