/* Vùng chứa chính */

body {
    background: linear-gradient( rgba(46, 204, 113, 0.7), rgba(46, 10, 113, 0.7)), url('../images/banner.png');
}

.auth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 60px;
}

.auth-card {
    background: white;
    width: 100%;
    max-width: 520px;
    padding: 55px;
    border-radius: 14px;
    border: 1px solid #dce6f9;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.06);
}

.auth-title {
    text-align: center;
    color: #0D47A1;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
}

.auth-sub {
    text-align: center;
    color: #556b8e;
    margin-bottom: 25px;
    font-size: 14px;
}


/* Label */

.auth-card label {
    display: block;
    margin-bottom: 6px;
    font-size: 15px;
    font-weight: 600;
    color: #0D47A1;
}


/* Input */

.auth-card input {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #c8d8f0;
    margin-bottom: 18px;
    font-size: 15px;
    outline: none;
    transition: 0.2s;
}

.auth-card input:focus {
    border-color: #1976D2;
}


/* Nút đăng nhập */

.btn-auth {
    width: 100%;
    background: #1976D2;
    padding: 13px 0;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: 0.2s;
}

.btn-auth:hover {
    background: var(--green-dark);
}


/* Chuyển trang signup */

.auth-switch {
    text-align: center;
    margin-top: 15px;
    font-size: 15px;
}

.auth-switch a {
    color: #1976D2;
    font-weight: bold;
    text-decoration: none;
}

.auth-switch a:hover {
    text-decoration: underline;
    color: var(--green-dark);
}