body {
    background: linear-gradient( rgba(46, 204, 113, 0.7), rgba(46, 10, 113, 0.7)), url('../images/banner2.jpg');
}

.signup-container {
    margin-top: 40px;
    margin-bottom: 50px;
    background: #fff;
    max-width: 500px;
    padding: 30px 35px;
    border-radius: 14px;
    border: 1px solid #dce7ff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

h1 {
    font-size: 32px;
    font-weight: bold;
    color: #0b3fad;
    text-align: center;
    padding: 20px;
}

.form-group {
    margin-bottom: 18px;
}

.form-group label {
    display: block;
    font-weight: 600;
    margin-bottom: 6px;
}

.form-control {
    width: 100%;
    padding: 12px 14px;
    border-radius: 8px;
    border: 1px solid #c7d7ff;
    font-size: 15px;
}

.btn-submit {
    width: 100%;
    background: #1d4ed8;
    color: #fff;
    padding: 14px 0;
    border: none;
    font-size: 17px;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 10px;
    transition: 0.2s;
}

.btn-submit:hover {
    background: var(--green-dark);
}

.link-login {
    text-align: center;
    margin-top: 12px;
}

.link-login a {
    color: #0b3fad;
    font-weight: bold;
}

.link-login a:hover {
    color: var(--green-dark)
}