/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* GLOBAL RESET */

body {
    padding-top: 110px;
    /* dành chỗ cho header cố định */
    background: #f7faff;
    font-family: Arial, sans-serif;
    margin: 0;
}


/* MÀU CHỦ ĐẠO */

:root {
    --green-main: #2ecc71;
    --green-dark: #27ae60;
    --green-light: #e8f9ee;
    --text-dark: #333;
}


/* CONTAINER CHUẨN */

.container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
}


/* BUTTON CHUNG */

.btn-primary {
    padding: 12px 24px;
    background: var(--green-main);
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.2s;
}

.btn-primary:hover {
    background: var(--green-dark);
}


/* GRID CHUNG */

.service-grid,
.doctor-list,
.why-grid {
    display: grid;
    gap: 20px;
}