<footer class="footer">
    <div class="footer-container">
        <div class="footer-col">
            <!-- <img src="../assets/images/logo-removebg-preview.png" class="footer-logo"> -->
            <p><strong style="color: var(--green-main);">HealthHub</strong> - Nền tảng kết nối bác sĩ, điều dưỡng, xét nghiệm và chăm sóc sức khỏe tại nhà.</p>
            <p><strong>MST:</strong> 01230969127</p>
        </div>
        <div class="footer-col">
            <h3>Liên hệ</h3>
            <p>Email hỗ trợ: dangchiemhd2@gmail.com</p>
            <p>Hotline: 0966689312</p>
            <p>Địa chỉ: 76 đường DC9, Tây Thạnh - TP. HCM</p>
        </div>
        <div class="footer-col">
            <h3>Kết nối với chúng tôi</h3>
            <div class="social-links">
                <a href="#"><img src="../assets/images/icons/tiktok.png" class="social-icon"></a>
                <a href="#"><img src="../assets/images/icons/jg.jpeg" class="social-icon"></a>
                <a href="#"><img src="../assets/images/icons/logo-zalo-tron.jpg" class="social-icon"></a>
                <a href="#"><img src="../assets/images/icons/fb.png" class="social-icon"></a>
            </div>
        </div>
    </div>

    <div class="footer-bottom">
        © 2025 HealthHub. All createrd Mr.DacLuc
    </div>
</footer>