<header>
    <div class="logo">
        <img src="../assets/images/logoh-Photoroom.png" alt="logo">
    </div>

    <nav>
        <div class="contacts">
            <a href="../pages/home.html">Trang chủ</a>
            <a href="../pages/booking.html">Đặt lịch</a>
            <a href="../pages/package.html">Gói dịch vụ</a>
            <a href="../pages/lab.html">Xét nghiệm</a>
            <a href="../pages/forum.html">Diễn đàn</a>
            <a href="../pages/doctor_profile.html">Bác sĩ</a>
        </div>
    </nav>

    <!-- LOGIN -->
    <a href="../pages/login.html" class="btn-ls" id="loginBtn">
        <i class="fa-solid fa-user-circle"></i> Đăng nhập
    </a>

    <div id="userMenu" style="display:none">
        <!-- <span id="userName"></span> -->
        <a href="../pages/account.html" id="accountBtn">Tài khoản</a>
    </div>

    <!-- POPUP -->
    <div id="accountPopup" style="display:none">
        <p id="infoName"></p>
        <p id="infoEmail"></p>
        <button onclick="logout()">Đăng xuất</button>
    </div>
</header>