<header>
    <div class="logo"><img src="../assets/images/logo-removebg-preview.png" alt="logo"></div>

    <nav>
        <div class="contacts">
            <a href="../pages/home.html">Trang chủ</a>
            <a href="../pages/booking.html">Đặt lịch</a>
            <a href="../pages/package.html">Gói dịch vụ</a>
            <a href="../pages/lab.html">Xét nghiệm</a>
            <a href="../pages/forum.html">Diễn đàn</a>
            <a href="../pages/doctor_profile.html">Bác sĩ</a>
        </div>
    </nav>
    <div>
        <a href="../pages/login.html" class="btn-ls">Đăng nhập</a>
        <a href="../pages/signup.html" class="btn-ls">Đăng kí</a>
    </div>
</header>